@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body{
    background-color: #000;
}
.nav{
    font-family: 'Electrolize', sans-serif;
    width: 100%;
    height: 100px;
    background-color: black;
    border: red solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    height: 90px;
    width: 200px;
    border: red solid;
}
.logo img {
    height: 100%;
    width: 100%;
}
.redes{
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 150px;
    border: red solid;
}

.redes img{
    height: 100%;
}
ul{
    display: flex;
    align-items: center;
    border: red solid;
}
ul li {
    margin: 20px;
}
ul li a{
    color: aliceblue;
    text-transform: uppercase;
}

ul li a:hover{
    color: rgb(146, 146, 146);
    transition: .2s;
}
.main-content{
    border: red solid;
    width: 100%;
    height: 800px;
    background-image: url(../img/publico2.jpg);
    background-position: center;
    background-size: cover;
}

.main-text{
    width: 100%;
    height: 900px;
    font-family: 'Anton', sans-serif;
    border: red solid;
    color: rgb(255, 255, 255);
    background-color: #0000006a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt{
    margin-bottom: 440px;
    border: red solid;
    width: 730px;
}

.txt h1{
    font-size: 70px;
}
.txt-content{
    display: flex;
    justify-content: center;
    border: red solid;
}
.txt-content p{
    width: 400px;
    font-family: 'Electrolize', sans-serif;
}

.btn{
    border: red solid;
}