/* Error: Undefined mixin.
 *    ,
 * 10 | /         @include tablet {
 * 11 | |                         min-height: calc(480vh - 220px);
 * 12 | \                 }
 *    '
 *   scss\layout\main.scss 10:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 10 \2502  \250c          @include tablet {\a 11 \2502  \2502                          min-height: calc(480vh - 220px);\a 12 \2502  \2514                  }\a    \2575 \a   scss\\layout\\main.scss 10:9  root stylesheet";
}
