.slipknot-txt {
    margin: 20px;
    h3 {
            font-family: $tipografias-parrafos, sans-serif;
            font-size: 50px;
            color: #ffffff;
    }
    a {
        text-decoration: none;
        font-family: $tipografias-titulos, sans-serif;
        color: #ffffff;
    }
}
.galeria-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 260px;
    padding: 20px;
    grid-gap: 90px;
    margin-bottom: 120px;
    @include mobile{
        grid-template-columns: repeat(1, 1fr);
    }
    @include tablet{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .galeria-item{
        border: #101010 solid;
        position: relative;
        .galeria-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.4s ease-in-out;
            &:hover {
                    opacity: 90%;
                    transition: .1s;
                    transform: scale(1.04);
                }
            }
        .galeria-title {
            font-family: $tipografias-parrafos, sans-serif;
            position: absolute;
            bottom: 0;
            color: #efefef;
            a {
                text-decoration: none;
                color: #efefef;
                font-family: $tipografias-parrafos, sans-serif;
                background-color: #131313;
                &:hover {
                    opacity: 70%;
                    transition: .1s;
                }
            }
         }
     }
}